<ul>
    <li><a href="/" class="navbar">Home</a></li>
    <li><a href="/registro" class="navbar">Registro</a></li>
    <li><a href="/login" class="navbar">Login</a></li>
    <li><a href="/perfil" class="navbar">perfil</a></li>
    <li><a href="/api/sessions/logout" class="navbar">logout</a></li>

</ul>