<ul>
    <li><a href="/" class="href">Home</a></li>
    <li><a href="/registro" class="href">Registro</a></li>
    <li><a href="/login" class="href">Login</a></li>
    <li><a href="/perfil" class="href">perfil</a></li>
    <li><a href="/api/sessions/logout" class="href">logout</a></li>

</ul>